<!DOCTYPE html>
<%-include header%>
<%-include indexSearch%>
<%-include userReadStatus%>
<style type="text/css">
	.view-main{
		height:600px;
	}
	.common-view{
		width: 100%;
		text-align: left;
	}
</style>
<div class='container'>
	<div class='row'>
		<div class='span12'>
			<div class='view-main .common-view'>
				<%-include bookTagsCollectionTips%>
				<%-include tagCataTabs%>
				<%-include bookTagsCircle%>
			</div>
		</div>
	</div>
</div>